<div class="row bas">

<div class="list-group col-3 shadow-none  scroller">
  <a *ngFor="let th of themes"
     class="list-group-item list-group-item-action" (click)="choisirTheme(th)">{{th.libelle}}</a>
</div>
<!--contenu theme-->
<div class="col-9 card shadow-none scroller" >
  <div>
    <div style="margin-top: 7px;">
      <h5>{{themeChoisi.libelle}}</h5>
      <h5 class="">Responsable : {{user.nom}}</h5>
      <h6 class=" mb-2 text-muted">PHD in Data Base Administration at university of Cleveland</h6>
      <div class="row ">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CATEGORIE</div>
                  <div class="h5 mb-0 font-weight-bold text-muted">{{categorie}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-list fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">QUESTION</div>
                  <div class="h5 mb-0 font-weight-bold text-muted">{{question}}</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-question fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CARTE</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-muted">{{carte}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-map fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">INSCRITS</div>
                  <div class="h5 mb-0 font-weight-bold text-muted">18</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-user fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>{{themeChoisi.description}}</p>
    </div>
  </div>
</div>
</div>
