<div class="container">
  <div>
    <div>
      <h2 class="text-center text-white">C'est quoi le SACLEX Test Generator</h2>
    </div>
    <div>
      <div class="row ">

        <!-- Earnings (Monthly) Card Example -->
        <!--<div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-primary shadow h-100 py-2" style="padding-bottom: 0px; padding-top: 0px">
            <div class="card-body " style="padding: 13px">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class=" mb-0 font-weight-bold text-muted text-center">1</div>
                  <div class="text-xs font-weight-bold text-primary mb-1">Générareur de test d'évaluation</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-lightbulb-o fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-primary shadow h-100 py-2"
               style="padding-bottom: 0px; padding-top: 0px">
            <div class="card-body " style="padding: 13px">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class=" mb-0 font-weight-bold text-muted text-center">1</div>
                  <div class="text-xs font-weight-bold text-primary mb-1">Générareur de test d'évaluation</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-lightbulb-o fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-success shadow h-100 py-2">
            <div class="card-body" style="padding: 13px">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="mb-0 font-weight-bold text-muted text-center">2</div>
                  <div class="text-xs font-weight-bold text-success mb-1">Un ensemble de thèmes pour vous
                    professionaliser
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-question fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-info shadow h-100 py-2">
            <div class="card-body" style="padding: 13px">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-muted text-center">3</div>

                  <div class="text-xs font-weight-bold text-info mb-1">Des cartes mentales pour vous guidez dans vos
                    études
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-map fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow-none border-left-warning shadow h-100 py-2">
            <div class="card-body" style="padding: 13px">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-muted text-center">4</div>
                  <div class="text-xs font-weight-bold text-warning mb-1">Responsable pour répondre à tous vos besoins
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-user fa-2x text-muted"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row "><img class="rounded mx-auto d-block shadow bas" src="../../../assets/image/logo.jpeg" alt=""></div>
  <h5 class="text-center font-weight-bold bas">Nos Services</h5>
  <div class="row">
    <div class="col-lg-6 padd "><img src="../../../assets/image/broche.PNG" class="dimensi float-right shadow" alt="">
    </div>
    <div class="col-lg-6 padd">
      <div class="dimensi shadow">
        <br>
        <h5 class="text-center font-weight-bold">Nos Services</h5>
        <p class="justify-content-center marge">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="text-center bas">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Connectez-vous
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row bas">
    <div class="col-lg-6 padd">
      <div class="dimensi shadow float-right">
        <br>
        <h5 class="text-center font-weight-bold">Nos Services</h5>
        <p class="justify-content-center marge">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="text-center bas">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Connectez-vous
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 padd "><img src="../../../assets/image/broche.PNG" class="dimensi float-left shadow" alt="">
    </div>
  </div>
</div>
<!--<div class="row bas">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bas"></div>
      <div class="">
        <h5 class="text-center font-weight-bold">Nos Services</h5>
        <p class="justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-6"><img src="../../../assets/image/broche.PNG" alt=""></div>
      <div class="col-6"><div class="bas"></div>
        <div class="">
          <h5 class="text-center font-weight-bold">Nos Services</h5>
          <p class="justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div></div>
    </div>
    <div class="row">
      <div class="col-6"><div class="bas"></div>
        <div class="">
          <h5 class="text-center font-weight-bold">Nos Services</h5>
          <p class="justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div></div>
      <div class="col-6"><img src="../../../assets/image/broche.PNG" alt=""></div>
    </div>
  </div>
</div>-->
<!--<div class="row bas">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bas"></div>
      <div class="">
        <h5 class="text-center font-weight-bold">Nos Services</h5>
        <p class="justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-uppercase">évaluative</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-uppercase">formative</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>-->
<div class="container">
  <h5 class="text-center font-weight-bold bas">Nos Thèmes</h5>

  <app-list></app-list>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bienvenue sur SACLEX TEST GENERATOR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ul class="nav nav-tabs align-items-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Connexion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile"
                   aria-selected="false">Inscription</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><app-con-modal></app-con-modal></div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><app-ins-modal></app-ins-modal></div>
        </div>
      </div>
    </div>
  </div>
</div>


