<div>
  <div>
    <h2 class="text-center text-white">C'est quoi le SACLEX Test Generator</h2>
  </div>
  <div>
    <div class="row ">

    <!-- Earnings (Monthly) Card Example -->
    <!--<div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow-none border-left-primary shadow h-100 py-2" style="padding-bottom: 0px; padding-top: 0px">
        <div class="card-body " style="padding: 13px">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class=" mb-0 font-weight-bold text-muted text-center">1</div>
              <div class="text-xs font-weight-bold text-primary mb-1">Générareur de test d'évaluation</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-lightbulb-o fa-2x text-muted"></i>
            </div>
          </div>
        </div>
      </div>
    </div>-->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow-none border-left-primary shadow h-100 py-2" style="padding-bottom: 0px; padding-top: 0px">
          <div class="card-body " style="padding: 13px">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class=" mb-0 font-weight-bold text-muted text-center">1</div>
                <div class="text-xs font-weight-bold text-primary mb-1">Générareur de test d'évaluation</div>
              </div>
              <div class="col-auto">
                <i class="fa fa-lightbulb-o fa-2x text-muted"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow-none border-left-success shadow h-100 py-2">
        <div class="card-body" style="padding: 13px">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="mb-0 font-weight-bold text-muted text-center">2</div>
              <div class="text-xs font-weight-bold text-success mb-1">Un ensemble de thèmes pour vous professionaliser</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-question fa-2x text-muted"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow-none border-left-info shadow h-100 py-2">
        <div class="card-body" style="padding: 13px">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 mr-3 font-weight-bold text-muted text-center">3</div>

              <div class="text-xs font-weight-bold text-info mb-1">Des cartes mentales pour vous guidez dans vos études</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fa fa-map fa-2x text-muted"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card shadow-none border-left-warning shadow h-100 py-2">
        <div class="card-body" style="padding: 13px">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 mb-0 font-weight-bold text-muted text-center">4</div>
              <div class="text-xs font-weight-bold text-warning mb-1">Responsable pour répondre à tous vos besoins</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-user fa-2x text-muted"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="row bas">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="bas"></div>
      <div class="">
        <h5 class="text-center font-weight-bold">Nos Services</h5>
        <p class="justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-uppercase">évaluative</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-uppercase">formative</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
<div class="row bas" style=" padding: 3px">

  <!--list themes-->
  <div class="list-group col-3 shadow-none  scroller">
    <app-list></app-list>
  </div>
  <!--contenu theme-->
  <div class="col-9 card shadow-none  " >
    <app-un-theme></app-un-theme>
  </div>
</div>
