<!--Ajout Responsable-->
<div class="row">
  <div class="col-lg-9 col-md-7 col-sm-6"></div>
  <div class="col-lg-3 col-md-5 col-sm-6 text-right " style="margin-bottom: 10px">
    <app-ajouter-responsable></app-ajouter-responsable>
  </div>
</div>
<table class="table table-hover table-bordered bg-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">adresse mail</th>
      <th scope="col">Thème</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>otto@mdo</td>
      <td>
        <form>
          <div class="row">
            <div class="col-lg-8"><select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select></div>
            <div class="col-auto"><a href="" class="fa fa-pencil text-primary fa-2x btn"></a></div>
          </div>
        </form>
      </td>
      <td>
        <div class="row">
          <div class="col-6 text-center"><a href="" class="fa fa-trash text-danger fa-2x "></a></div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>otto@mdo</td>
      <td>
        <form>
          <div class="row">
            <div class="col-lg-8"><select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select></div>
            <div class="col-auto"><a href="" class="fa fa-pencil text-primary fa-2x btn"></a></div>
          </div>
        </form>
      </td>
      <td>
        <div class="row">
          <div class="col-6 text-center"><a href="" class="fa fa-trash text-danger fa-2x "></a></div>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>otto@mdo</td>
      <td>
        <form>
          <div class="row">
            <div class="col-lg-8"><select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select></div>
            <div class="col-auto"><a href="" class="fa fa-pencil text-primary fa-2x btn"></a></div>
          </div>
        </form>
      </td>
      <td>
        <div class="row">
          <div class="col-6 text-center"><a href="" class="fa fa-trash text-danger fa-2x "></a></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
