<div>
  <h3 class="text-white text-center titre">
    Bienvenue sur SACLEX TEST GENERATOR
  </h3>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="card center col-lg-6 col-md-12 col-sm-12">
      <div class="card-body">
        <h4 class="text-center">S'inscrire</h4>
        <h6 class="text-center">Vous avez déjà un compte? <a href="" routerLink="/connexion">Se connecter</a></h6><br>
        <form>
          <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" id="nom" placeholder="Nom du responsable" required>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" id="prenom" placeholder="Prénom du responsable" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
              <label for="exampleInputEmail1">Adresse mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="Adresse mail" required>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description du Responsable</label>
            <textarea required class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description du responsable"></textarea>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
      </div>
    </div>
  </div>
</div>

