<div class="container-fluid">
  <nav class="marge">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link text-black-50" id="nav-stat-tab" data-toggle="tab" href="#nav-stat"
         role="tab"
         aria-controls="nav-home" aria-selected="true">Stats</a>
      <a class="nav-item nav-link text-black-50" id="nav-home-tab" data-toggle="tab" href="#nav-home"
         role="tab"
         aria-controls="nav-home" aria-selected="true">Passer une évaluation</a>
      <a class="nav-item nav-link active text-black-50" id="nav-question-tab" data-toggle="tab" href="#nav-question" role="tab"
         aria-controls="nav-profile" aria-selected="false">Mes évaluations</a>
      <a class="nav-item nav-link text-black-50" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
         aria-controls="nav-contact" aria-selected="false">Mon compte</a>
    </div>
  </nav>

  <!-- Button trigger modal -->
  <div class="pad"></div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-stat" role="tabpanel" aria-labelledby="nav-stat-tab">

      stat
    </div>
    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <div>
        Passer une nouvelle évaluation :
        <button class="btn btn-primary rounded-pill" *ngIf="!formEvaluation" (click)="afficherformEvaluation()">
          <li class="fa fa-plus text-white"></li>
        </button>
        <button class="btn btn-primary rounded-pill" *ngIf="formEvaluation" (click)="afficherformEvaluation()">
          <li class="fa fa-minus text-white"></li>
        </button>
        <div *ngIf="formEvaluation" class="card">
          <div class="card-body">
            <div class="row" *ngIf="questionReponses.length == 0 && creer">
              <div class="col-3"></div>
              <div class="card col-6" >
                <div class="card-body">
                  <div>
                    <div class="form-group text-center">
                      <label for="listTheme">Choisissez le thème : </label>
                      <select name="listTheme" id="listTheme" [(ngModel)]="themeChoisi" #listTheme="ngModel"
                              (ngModelChange)="getCategorieduTheme()">
                        <option *ngFor="let theme of themes" [ngValue]="theme">{{theme.libelle}}</option>
                      </select>
                    </div>
                    <div class="form-group text-center" *ngIf="themeChoisi">
                      <label for="listCategoried">Choisissez la catégorie : </label>
                      <select name="listCategorie" id="listCategoried" [(ngModel)]="categorieChoisi"
                              #listCategorie="ngModel">
                        <option *ngFor="let categorie of categories"
                                [ngValue]="categorie">{{categorie.libelle}}</option>
                      </select>
                    </div>
                    <div class="form-group text-center" *ngIf="!themeChoisi">
                      <label for="listCategorie">Choisissez la catégorie : </label>
                      <select name="listCategorie" id="listCategorie" [(ngModel)]="categorieChoisi"
                              #listCategorie="ngModel" disabled>
                        <option *ngFor="let categorie of categories"
                                [ngValue]="categorie">{{categorie.libelle}}</option>
                      </select>
                    </div>
                    <!--*ngIf="themeChoisi"-->
                    <div class="form-group">
                      <label for="temps"></label>
                      <input
                        class="form-control"
                        id="temps"
                        placeholder="temps"
                        name="temps"
                        type="number" max="720" min="0"
                        [(ngModel)]="temps"
                        required>
                    </div>
                    <!--*ngIf="themeChoisi"-->
                    <div class="form-group">
                      <label for="nbQuest"></label>
                      <input
                        class="form-control"
                        id="nbQuest"
                        placeholder="Nombre de Questions"
                        name="nbQuest"
                        type="number" max="60" min="1"
                        [(ngModel)]="nbQuest"
                        required>
                    </div>
                    <div class="text-center">
                      <!--*ngIf="temps && nbQuest"-->
                      <button class="btn btn-primary" (click)="creerEvaluation(categorieChoisi.idCategorie, nbQuest)">
                        Passer
                        une évaluation formative
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3"></div>
            </div>
            <div class="card" *ngIf="questionReponses.length > 0">
              <div class="card-body">
                <div >
                  <app-display-qcm [questionReponses]="questionReponses" [questionReponse]="questionReponse"
                                   [questionActu]="questionActu" [temps]="temps"
                                   (initQuestionReponses)="initQuestionReponses()"
                                   (sendResultat)="receiveRes($event)"></app-display-qcm>
                </div>
              </div>
            </div>
            <div *ngIf="questionReponses.length == 0 && resultat">
              <div class="card" style="margin-top: 12px">
                <div class="card-title">
                  <div class="row" style="margin-top: 12px">
                  <div class="col-4 text-center">
                    <div>Nom et prénom: {{moi.nom}} {{moi.prenom}}</div>
                    <div>Type de l'évaluation: {{resultat.evaluation.typeEvaluation}}</div>
                    <div>Catégorie: {{resultat.evaluation.intitule}}</div>
                    <div>Date: {{resultat.evaluation.dateCreation}}</div>
                  </div>
                    <div class="col-4 text-center" style="margin-bottom: 45px">
                      <img src="../../../assets/image/urxLogo.jpg" class="rounded" style=" height: 120px; width: 185px;" alt="">
                    </div>
                  <div class="col-4 text-center">
                    <div>Nombre de questions: {{resultat.evalQuestReps.length}}</div>
                    <div>Note obtenue: {{resultat.evaluation.totalObtenu}}/{{resultat.evaluation.total}}</div>
                    <div>Temps pour évaluation: {{resultat.evaluation.tempsEvaluation}} secondes</div>
                    <div>Temps réalisé: {{resultat.evaluation.tempsApprenant}} secondes</div>
                  </div>
                </div>
                  <div class="text-center">
                    <div>Pourcentage de réussite: {{(resultat.evaluation.totalObtenu/resultat.evaluation.total)*100}}%</div>
                    <div>Temps moyen par question: {{(resultat.evaluation.tempsEvaluation/resultat.evalQuestReps.length)}} secondes</div>
                    <div style="display: block"><div style="display: inline-block">Statut: </div>
                      <div style="display:inline-block;">
                        <div *ngIf="resultat.evaluation.statut == reussi"
                             style="color: green; font-weight: bold">{{resultat.evaluation.statut}}</div>
                        <div *ngIf="resultat.evaluation.statut == echoue"
                             style="color: red; font-weight: bold">{{resultat.evaluation.statut}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-hover table-bordered bg-light text-center">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Libelle Question</th>
                      <th scope="col">Temps de la question</th>
                      <th scope="col">Temps mis sur la question</th>
                      <th scope="col">Points de la question</th>
                      <th scope="col">Points obtenus</th>
                      <th scope="col">Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let res of resultat.evalQuestReps">
                      <th scope="row">{{resultat.evalQuestReps.indexOf(res)+1}}</th>
                      <td>{{res.quest.libelle}}</td>
                      <td>{{res.quest.duree}}</td>
                      <td>{{res.tempsMis}}</td>
                      <td>{{res.quest.score}}</td>
                      <td>
                        <div *ngIf="res.statut == echoue">0</div>
                        <div *ngIf="res.statut == reussi">{{res.quest.score}}</div>
                      </td>
                      <td>
                        <div *ngIf="res.statut == reussi" style="color: green; font-weight: bold">{{res.statut}}</div>
                        <div *ngIf="res.statut == echoue" style="color: red; font-weight: bold">{{res.statut}}</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <hr>
                <div class="row" style="margin-bottom: 12px">
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-primary" (click)="newExam()">Passer une évaluation</button>
                  </div>
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-primary" (click)="newExam()">Imprimer le rapport</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="nav-question" role="tabpanel" aria-labelledby="nav-question-tab">
      <div class="row">
        <div class="col-3">
          <!--<form>
            <div class="form-group form-inline">
              Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
            </div>
          </form>-->

          <!--<table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Country</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ev of evalus">
              <th scope="row">{{ evalus.indexOf(ev) }}</th>
              <td>
                {{ ev.intitule }}
              </td>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshEval()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEval()">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>
          {{collectionSize}}-->
          <div *ngFor="let eval of listEvaluations" (click)="getEvaluation(eval)">{{eval.intitule}}</div>
        </div>
        <div class="col-9">
<!--
          <app-une-evaluation [evaluation]="evaluation" [listEqr]="listEqr" [moi]="moi"></app-une-evaluation>
-->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
test
    </div>
  </div>
</div>

