#popContent{
  width: 50vh;
background: aliceblue;
  font-size: 125%;
left: 28px !important;
position:absolute;
}
#popTitle{
  width: 50vh;
background: aliceblue;
  font-size: 125%;
left: 28px !important;
position:absolute;
}

