<button type="button" class="btn btn-primary bordure" data-toggle="modal" data-target="#ajoutResponsable">
  Ajouter un Responsable
</button>

<!-- Modal -->
<div class="modal fade" id="ajoutResponsable" tabindex="-1" role="dialog" aria-labelledby="ajoutResponsableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ajoutThemeModalLabel">Ajouter un Responsable de Thème</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddRespoTModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #fsaveRespoTheme="ngForm" name="formRT" (submit)="fsaveRespoTheme.form.valid && saveResponsableTheme()"
              novalidate action="">
          <div class="modal-body">
            <div class="form-group">
              <label for="nomRespoTheme">Nom</label>
              <input type="text"
                     class="form-control"
                     placeholder="Nom"
                     id="nomRespoTheme"
                     name="nomRespoTheme"
                     [(ngModel)]="responsableModel.nom"
                     #nomRespoTheme="ngModel"
                     [ngClass]="{'is-invalid': fsaveRespoTheme.submitted && nomRespoTheme.invalid}"
                     required/>
              <div *ngIf="fsaveRespoTheme.submitted && nomRespoTheme.invalid" class="invalid-input">
                <div *ngIf="nomRespoTheme.errors?.required">Le nom est invalid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="prenomRespoTheme">Prénom</label>
              <input type="text"
                     class="form-control"
                     placeholder="Prénom"
                     id="prenomRespoTheme"
                     name="prenomRespoTheme"
                     [(ngModel)]="responsableModel.prenom"
                     #prenomRespoTheme="ngModel"
                     [ngClass]="{'is-invalid': fsaveRespoTheme.submitted && prenomRespoTheme.invalid}"
                     required/>
              <div *ngIf="fsaveRespoTheme.submitted && prenomRespoTheme.invalid" class="invalid-input">
                <div *ngIf="prenomRespoTheme.errors?.required">Le prénom est invalid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="mailRespoTheme">Mail</label>
              <input type="text"
                     class="form-control"
                     placeholder="adresse mail"
                     id="mailRespoTheme"
                     name="mailRespoTheme"
                     [(ngModel)]="responsableModel.email"
                     #mailRespoTheme="ngModel"
                     [ngClass]="{'is-invalid': fsaveRespoTheme.submitted && mailRespoTheme.invalid}"
                     required/>
              <div *ngIf="fsaveRespoTheme.submitted && mailRespoTheme.invalid" class="invalid-input">
                <div *ngIf="mailRespoTheme.errors?.required">L'adresse mail est invalid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="descriptionRespoTheme">Description du thème</label>
              <textarea
                class="form-control"
                id="descriptionRespoTheme" rows="3"
                name="descriptionRespoTheme"
                [(ngModel)]="responsableModel.description"
                #descriptionRespoTheme="ngModel"
                [ngClass]="{'is-invalid': fsaveRespoTheme.submitted && descriptionRespoTheme.invalid}"
                required></textarea>
              <div *ngIf="fsaveRespoTheme.submitted && descriptionRespoTheme.invalid" class="invalid-input">
                <div *ngIf="descriptionRespoTheme.errors?.required">La description est invalid</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer le responsable</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
